<html th:replace="student/studentbase::layout(~{::section})">

<head>

</head>

<body>
	<section>
		<div class="row p-5">
			<div class="col-sm-9 mx-auto">
				<div class="card shadow   w-100 text-center p-5">
					<h1 style="color: orangered; font-family: monotype corsiva; font-style: italic; font-size: 45px;">Congratulations !!!
					</h1>
					<p style="font-size: 20px;">Your test has been submitted successfully <br> Results will be declared soon...</p>
					<br><br><br>
					<a href="stdhome" class="btn w-25 rounded-pill text-center mx-auto text-white" style="background-color: orangered;">Go to Homepage</a>
				</div>
			</div>
		</div>
	</section>
</body>

</html>