<!DOCTYPE html>
<html th:replace="base::layout(~{::section})">
	<head></head>
	<body>
<section>
	<!--About us start-->
	<div class="row">
	
	    <div class="col-sm-12">

	        
	<section class="py-3">
	   
	      <div class="row justify-content-md-center">
	        <div class=" col-sm-10">
	          <h2 class="mb-4 display-5 text-center" style="color: orangered; font-family: Jost, sans-serif; font-weight: 400;"><b>About Us</b></h2>
	          <p class=" mb-5 text-center fs-4 text-black" style="font-family: Jost, sans-serif;  text-align: center;">We believe in the power of teamwork and collaboration. <br>
				 Our diverse experts work tirelessly to deliver innovative solutions <br> tailored to our clients' needs.</p>
	          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark">
	        </div>
	      </div>
		  
		  
		  <div class="row">
			<div class="col-sm-10 mx-auto">
				<div class="row">
					<div  class="col-sm-5   shadow shadow-lg">
						<img src="images/dileep-removebg-preview.png" alt="" class="img-fluid">
					</div>
					<div class="col-sm-6 mx-auto"> 
						<div class="about-wrapper">
						                <p class="lead mb-4 mb-md-5 text-black" style="font-family: Jost, sans-serif; font-size: 20px; text-align: justify;">
											An online examination system is the complete agenda of an online test that has multiple features and functionalities. The online examination system uses online exam software through which the tests are created, conducted, and evaluated. This type of examination system has multiple benefits few of them are that it eliminates the dependency on paper for the question and answer sheets, and eliminates any sort of manual workload which is too much in the case of an offline test.				
											
											20,000 Students Given Test Through This Website.
											An online test portal is a web-based platform designed to facilitate the administration and management of online examinations. It enables educators and administrators to create, conduct, and evaluate online tests and assessments with ease.
											The portal supports various question types, ensures secure and reliable infrastructure, and provides accessibility from anywhere. It benefits students and educators by offering convenience, flexibility, and personalized learning experiences. The portal is ideal for educational institutions, corporate training, certification exams, and research. It streamlines the assessment process, making it efficient, effective, and accessible. The portal also reduces administrative burdens, enhances assessment accuracy, and offers scalability and cost-effectiveness.
											
										</p>
						                
				
				</div>
				
			</div>
		  </div>
		  </div>
		  </div>
		  
		  <div class="row">
			<div class="col-sm-10 mx-auto mt-5">
				<div class="row gx-4 align-items-center justify-content-between">
				                                <div class="col-md-5 order-2 order-md-1">
				                                    <div class="mt-5 mt-md-0">
				                                        
				                                        <h2 class="display-5" style="font-family: Jost, sans-serif; font-weight: 600; color:orangered;"> Our Story</h2>
				                                        <p style="font-size: 20px; text-align: justify; font-family: Jost, sans-serif; font-weight: 300;">
															As we strive to enhance the professional development opportunities for the students of AKTU, Softpro India is offering Free Summer Internship Program in collaboration with Dr A P J Abdul Kalam Technical University under the MoU services signed with Softpro India & AKTU, specifically tailored for the Ist, IInd & IIIrd year students pursuing B.Tech in Computer Science, Information Technology and CS Allied Branches, Mechanical, Civil, Electrical, Electronics. This program aims to provide students with valuable industry exposure, hands-on experience in the latest technologies, and an avenue for practical application of theoretical knowledge.								
															
														</p>
				                                        
				                                    </div>
				                                </div>
				                                <div class="col-md-6 offset-md-1 order-1 order-md-2">
				                                    <div class="row gx-2 gx-lg-3">
				                                        <div class="col-6">
				                                            <div class="mb-2"><img class="img-fluid rounded-3" src="https://freefrontend.dev/assets/square.png"></div>
				                                        </div>
				                                        <div class="col-6">
				                                            <div class="mb-2"><img class="img-fluid rounded-3" src="https://freefrontend.dev/assets/square.png"></div>
				                                        </div>
				                                        <div class="col-6">
				                                            <div class="mb-2"><img class="img-fluid rounded-3" src="https://freefrontend.dev/assets/square.png"></div>
				                                        </div>
				                                        <div class="col-6">
				                                            <div class="mb-2"><img class="img-fluid rounded-3" src="https://freefrontend.dev/assets/square.png"></div>
				                                        </div>
				                                    </div>
				                                </div>
				                            </div>
			</div>
			
		  </div>
		  
		  
	   
</section>
	</body>
</html>