<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:fragment="layout(content)">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Free Summer Intership || Home</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
		integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="container-fluid">
		<!--Icon Start-->
	<div class="row">
		<div class="col-sm-12 p-2" style="background-color: #F5F4F4;">
			<span>
				<i class="fa-brands fa-facebook"
					style="background-color:#ef662f; color:white; padding: 4px; border-radius:3px; font-size: 14px;"></i>
			</span>
			<span>
				<i class="fa-brands fa-twitter"
					style="background-color:#ef662f; color:white; padding: 4px; border-radius:3px; font-size: 14px;"></i>
			</span>
			<span>
				<i class="fa-brands fa-youtube "
					style="background-color:#ef662f; color:white; padding: 4px; border-radius:3px; font-size: 14px;"></i>
			</span>
			<span>
				<i class="fa-brands fa-google-plus-g"
					style="background-color:#ef662f; color:white; padding: 4px; border-radius:3px; font-size: 14px;"></i>
			</span>
			<span>
				<i class="fa-brands fa-linkedin"
					style="background-color:#ef662f; color:white; padding: 4px; border-radius:3px; font-size: 14px;"></i>
			</span>
			<span>
				<i class="fa-brands fa-instagram"
					style="background-color:#ef662f; color:white; padding: 4px; border-radius:3px; font-size: 14px;"></i>
			</span>
		</div>
	</div>
	<!--Icons Start-->
	
	<!--Header Start-->
	<div class="row  shadow shadow-regular dileep" style="background-color: #FFFFFF">
		<div class="col-sm-1 ">
			<img src="images/logospi new.png" alt="" height="100" style="margin-left: 40px;">
		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-7 align-content-center"
			style="font-family: Jost, sans-serif; color: #ef662f; font-size: 17px; font-weight: 700;">Do Your Summer
			Internship under the guidance of Industry Experts from IIT Kanpur and IET Lucknow

		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2 mt-4">
			<a href="/register" class="btn btn- btn-lg"
				style="border-radius: 0px; background-color: #ef662f; font-family: Jost, sans-serif ; color: white; font-weight: 700;">
				<i class="fa-solid fa-right-to-bracket"></i> Apply Now

			</a>
			
			
			
			
			
			
		</div>

	</div>
	<!--Header end-->
	<!-- navbar start -->
	        <div class="row ">
	            <div class="col-sm-12 p-0">
	                <nav class="navbar navbar-expand-lg bg-body-tertiary">
	                    <div class="container-fluid  py-3" style="background-color: #ef662f;">

	                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
	                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
	                            aria-expanded="false" aria-label="Toggle navigation">
	                            <span class="navbar-toggler-icon"></span>
	                        </button>
	                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
	                            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
	                                <li class="nav-item">
	                                    <a class="nav-link active text-white" aria-current="page" href="/index"> <i
	                                            class="fas fa-home"></i> Home
	                                        |</a>
	                                </li>
	                                <li class="nav-item">
	                                    <a class="nav-link active text-white" href="/aboutus"><i
	                                            class="fa-solid fa-address-card"></i>
	                                        About US |</a>
	                                </li>
	                                <li class="nav-item"> 
	                                    <a class="nav-link active text-white" href="/register"> <i
	                                            class="fas fa-book"></i> Register
	                                        |</a>
	                                </li>
	                                <li>
	                                    <div class="dropdown">
	                                        <a class="btn  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white; margin-top: 2px;">
	                                            <i class="fa-solid fa-shield-halved"></i> Login
	                                        </a>
	                                      
	                                        <ul class="dropdown-menu">
	                                          <li><a class="dropdown-item" href="/adminlogin">Admin Login</a></li>
	                                          <li><a class="dropdown-item" href="/student">Student Login</a></li> 
	                                          
	                                        </ul> 
	                                      </div>
	                                </li>
	                                
	                                

	                                <li class="nav-item">
	                                    <a class="nav-link active text-white" href="#"> <i class="fas fa-user"></i> Useful
	                                        link
	                                        |</a>
	                                </li>
	                                <li class="nav-item">
	                                    <a class="nav-link active text-white" href="/contactus"> <i class="fa-solid fa-phone"></i>
	                                        Contact Us</a>
	                                </li>


	                            </ul>

	                        </div>
	                    </div>
	                </nav>
	            </div>
	        </div>
	        <!-- navbar end  -->


	<!-- Dileep -->

	<div class="row" th:replace="${content}"></div>

	<!-- Dileep -->

	<!-- footer start -->
	<div class="row mt-5 footer">
		<div class="col-sm-10 mx-auto"> 
			<div class="row mt-3">
				<div class="col-sm-3">
					<p style="color: black; font-family: Jost, sans-serif; font-weight: 600; font-size: 30px;">
						Address</p>
					<p style="font-weight: 600;">
						Head Office: Softpro Tower
						Near New Hanuman Temple, Kapoorthala
						Aliganj, Lucknow (UP)-226006

						Branch Office: Softpro House
						3/213, Sector J, Jankipuram
						Kursi Road, Lucknow

					</p>
				</div>
				<div class="col-sm-1"></div>
				<div class="col-sm-4">
					<p style="color: black; font-family: Jost, sans-serif; font-weight: 600; font-size: 30px;">Help
						& Support</p>
					<p style="font-weight: 600;">
						If you need immediate assistance or have any further questions, feel free to call us at
						given number
						below and you can also send me a mail on the given mail id. </p>
					<div class="row">
						<div class="col-sm-6">
							<a href="/register"
								style="color: black; text-decoration: none; font-family: Jost, sans-serif; font-size: 20px; font-weight: 600;">
								@hrsoftproindia.in</a>
						</div>
						<div class="col-sm-6">
							<a href=""
								style="color: black; text-decoration: none; font-family: Jost, sans-serif; font-size: 20px; font-weight: 600;">
								+91 7080102006 <br> +91 7080462022 <br> +91 7080422022
							</a>

						</div>
					</div>

				</div>
				<div class="col-sm-3 mt-4">
					<img src="images/help-desk1.png" alt="" height="200">
				</div>
			</div>

		</div>
		<div class="row mt-5 mb-0 shadow shadow-regular mx-auto p-2">
			<div class="col-sm-6 mx-auto py-4 align-content-center">
				<p style="font-size: 20px; font-family: Jost, sans-serif; font-weight: 700;">© Copyright 2024 Designed &
					Developed By | Dileep Gupta
					
				</p>
			</div>
		</div>
	</div>
	<!-- footer end -->
	</div>

	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
	    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
	    crossorigin="anonymous"></script>

</body>

</html>