<!doctype html>
<html lang="en" th:replace="base::layout(~{::section})">

<head>
	<link href="css/style.css" rel="stylesheet" type="text/css"/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>

	<section>
		
		<!-- free start -->
		        <div class="row ">
		            <div class="col-sm-12  myimg  border border-1 " style="z-index: -1;">
		                <div class="row p-0 m-0">
		                    <div class="col-sm-12 p-0 mt-4">
		                        <img src="images/University_logo.png" alt="" height="200" class="mx-auto d-block">
		                    </div>


		                </div>

		                <div class="row">
		                    <div class="col-sm-12 mx-auto text-center">
		                        
		                        
		                        <span
		                            style="color: black; font-family: Jost, sans-serif; font-size: 40px; font-weight: 500;">FREE
		                            SUMMER</span> &nbsp;
		                        <span
		                            style="color:#ef662f; font-family: Jost, sans-serif; font-size: 40px; font-weight: 500;">INTERNSHIP
		                            2024</span>  <br>
		                            <p style="color: #ef662f; font-size: 25px; font-family: Jost, sans-serif; font-weight: 600;">ORGANIZED BY DR. A. P. J. ABDUL KALAM TECHNICAL UNIVERSITY, LUCKNOW</p>
		                            
		                            <p style="color: black; font-size: 20px; font-family:Jost, sans-serif ; font-weight: 500;">(IN ASSOCIATION WITH SOFTPRO INDIA COMPUTER TECHNOLOGIES (P) LTD)</p>
		                            
		                            
		                    </div>
		                    
		                </div>
		            </div>

		        </div>

		        <!-- free end -->
			        <!-- mou start -->
			        <div class="row">
			            <div class="col-sm-12 p-0 mt-1">
			                <img src="images/unnamed.jpg" alt="">
			            </div>
			        </div>
			        <!-- mou end -->
			        <!-- Apply start -->
			        <div class="row border p-2 mt-1" style="background-color: #ef662f;">
			            <div class="col-sm-7 text-end pt-4 ">
			                <p style="font-size: 23px; font-weight: 700;" class="w100ab">Apply For Free Summer Internship Test -
			                    2024</p>
			            </div>
			            <div class="col-sm-5 my-auto">
			                <a href="/register"><button class="btn fw-bold btnaply"
			                        style="background-color:white; color: black; height:50px; border-radius: 5px;  font-size:18px;">
			                        Apply Now &nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>
			                    </button></a> 

			            </div>
			        </div>
			        <!-- Apply end -->
			        <!-- free summer internship start -->
			        <div class="row">
			            <div class="col-sm-12 mx-auto mt-3" style="text-align: center;">
			                <p style="font-family: Jost, sans-serif ; font-size: 30px; color: #ef662f; font-weight: 600;">Free
			                    Summer Internship</p>
			            </div>
			        </div>
			        <div class="row">
			            <div class="col-sm-10 mx-auto">
			                <p style="color: #ef662f; font-size: 20px; font-family: Jost, sans-serif; font-weight: 600;">Program
			                    Details</p>
			                <p style="font-family: Jost, sans-serif;">
			                    As we strive to enhance the professional development opportunities for the students of AKTU, Softpro
			                    India is offering Free Summer Internship Program in collaboration with Dr A P J Abdul Kalam
			                    Technical University under the MoU services signed with Softpro India & AKTU, specifically tailored
			                    for the Ist, IInd & IIIrd year students pursuing B.Tech in Computer Science, Information Technology
			                    and CS Allied Branches, Mechanical, Civil, Electrical, Electronics. This program aims to provide
			                    students with valuable industry exposure, hands-on experience in the latest technologies, and an
			                    avenue for practical application of theoretical knowledge.
			                </p>
			                <p style="color: #ef662f; font-size: 20px; font-family: Jost, sans-serif; font-weight: 600;">Importance
			                    of Summer Internship</p>
			                <p style="font-family: Jost, sans-serif;">
			                    <span style="font-weight: 700;"> 1. Bridging the Gap between Academia and Industry :</span> Summer
			                    Internships provide students with an invaluable opportunity to bridge the gap between theoretical
			                    knowledge acquired in classrooms and practical application in real-world scenarios. By working on
			                    live projects and interacting with industry professionals, students gain insights into industry
			                    practices, trends, and challenges, thus preparing them for the transition from academia to the
			                    professional realm.
			                </p>
			                <p style="font-family: Jost, sans-serif;">
			                    <span style="font-weight: 700;"> 2. Skill Enhancement and Professional Development:</span>
			                    Engaging in summer internship programs allows students to enhance their technical skills,
			                    communication abilities, teamwork, and problem solving capabilities. Exposure to cutting-edge
			                    technologies and hands-on experience in project execution equips students with the competencies
			                    required to thrive in today's dynamic and competitive job market.
			                </p>
			                <p style="font-family: Jost, sans-serif;">
			                    <span style="font-weight: 700;">3. Networking and Career Opportunities:</span> Summer internships
			                    offer students a platform to network with professionals, build meaningful connections, and explore
			                    potential career opportunities. Building a strong professional network early in their academic
			                    journey can significantly enhance students' prospects for securing employment post-graduation.
			                </p>
			            </div>
			        </div>
			        <!-- free summer internship end -->
			        <!-- steps to participte start -->
			        <div class="row">
			            <div class="col-sm-10 mx-auto mt-5 text-center">
			                <p style="color: #ef662f; font-size: 28px; font-family: Jost, sans-serif ; font-weight: 600;">
			                    Steps to Participate in the Test for the Free Summer Internship Program
			                </p>
			            </div>
			            <div class="row">
			                <div class="col-sm-10 mx-auto" style="background-color: #EFEFEF;">
			                    <div class="row">
			                        <div class="col-sm-4">
			                            <p
			                                style="color: #ef662f; font-size: 25px; font-family: Jost, sans-serif; font-weight:600; padding-left: 130px; margin-top: 90px;">
			                                STEP 2
			                            <p
			                                style="padding-left: 130px; font-family: Jost, sans-serif; font-weight: 600; font-size: 15px;">
			                                Join The Online Pre Placement talk about Summer internship before attempting the task on
			                                the link shared on your registered Mail ID and WhatsApp
			                            </p>
			                            <p
			                                style="color: #ef662f; font-size: 25px; font-family: Jost, sans-serif; font-weight:600; padding-left: 130px; margin-top: 90px;">
			                                STEP 4
			                            <p
			                                style="padding-left: 130px; font-family: Jost, sans-serif; font-weight: 600; font-size: 15px;">
			                                Appear in the Online MCQ Test to grab the free internship Opportunity
			                            </p>
			                            </p>
			                        </div>
			                        <div class="col-sm-4">
			                            <img src="images/stepp-removebg-preview.png" alt="">
			                        </div>
			                        <div class="col-sm-4">
			                            <p
			                                style="color: #ef662f; font-size: 25px; font-family: Jost, sans-serif; font-weight:600; padding-left: 40px; margin-top: 40px;">
			                                STEP 1
			                            <p
			                                style="padding-left: 30px; font-family: Jost, sans-serif; font-weight: 600; font-size: 15px;">
			                                Register On the Portal to apply for Free <br> Internship
			                            </p>
			                            <p
			                                style="color: #ef662f; font-size: 25px; font-family: Jost, sans-serif; font-weight:600; padding-left: 40px; margin-top: 100px;">
			                                STEP 3
			                            <p
			                                style="padding-left: 30px; font-family: Jost, sans-serif; font-weight: 600; font-size: 15px;">
			                                Check for the link for MCQTest on your <br>registered Mail ID & whatsApp
			                            </p>
			                            <p
			                                style="color: #ef662f; font-size: 25px; font-family: Jost, sans-serif; font-weight:600; padding-left: 40px; margin-top: 100px;">
			                                STEP 5
			                            <p
			                                style="padding-left: 30px; font-family: Jost, sans-serif; font-weight: 600; font-size: 15px;">
			                                Do your Internship, complete you project and <br>get globally Certified
			                            </p>
			                            </p>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
			        <!-- steps to participte end -->

			        <!-- who can participate start -->
			        <div class="row">
			            <div class="col-sm-10 mx-auto text-center mt-5">
			                <p style="color: #ef662f; font-size: 28px; font-family: Jost, sans-serif ; font-weight: 600;">
			                    WHO CAN PARTICIPATE ?
			                </p>
			            </div>
			        </div>
			        <!-- whocan participate start -->
			        <div class="row">
			            <div class="col-sm-10 mx-auto">
			                <div class="row text-center">
			                    <div class="col-sm-3">
			                        <div class="card h-100 shadow mycard">
			                            <img src="images/sivil.png" class="card-img-top" alt="...">
			                            <div class="card-body text-center">
			                                <p
			                                    style="color: #ef662f; font-size: 18px; font-family: Jost, sans-serif ; font-weight: 600;">
			                                    Civil Engineering
			                                    <hr>
			                                </p>
			                                <p class="card-text" style="font-family: Jost, sans-serif;">
			                                    <b style="font-family: Jost, sans-serif;">Btech 1,2,3 Year</b> <br>
			                                    Civil Engineering Students Can Register Here
			                                </p>

			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-sm-3">
			                        <div class="card h-100 shadow mycard">
			                            <img src="images/mechanic-6853615-5625730.webp" class="card-img-top" alt="...">
			                            <div class="card-body">
			                                <p
			                                    style="color: #ef662f; font-size: 18px; font-family: Jost, sans-serif ; font-weight: 600;">
			                                    Mechanical Engineering
			                                    <hr>
			                                </p>
			                                <p class="card-text" style="font-family: Jost, sans-serif;">
			                                    <b style="font-family: Jost, sans-serif;">Btech 1,2,3 Year</b> <br>
			                                    Mechanical Engineering Students Can Register Here
			                                </p>

			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-sm-3">
			                        <div class="card h-100 shadow mycard">
			                            <img src="images/ai.jpg" class="card-img-top" alt="..." height="270">
			                            <div class="card-body">
			                                <p
			                                    style="color: #ef662f; font-size: 18px; font-family: Jost, sans-serif ; font-weight: 600;">
			                                    CS- AI & ML
			                                    <hr>
			                                </p>
			                                <p class="card-text" style="font-family: Jost, sans-serif;">
			                                    <b style="font-family: Jost, sans-serif;">Btech 1,2,3 Year</b> <br>
			                                    AI & ML Students Can Register Here
			                                </p>

			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-sm-3">
			                        <div class="card h-100 shadow mycard">
			                            <img src="images/skillful-3d-electrician-with-tools-perfect-for-electrical-or-construction-related-designs-transparent-background-free-png.webp"
			                                class="card-img-top" alt="...">
			                            <div class="card-body">
			                                <p
			                                    style="color: #ef662f; font-size: 18px; font-family: Jost, sans-serif ; font-weight: 600;">
			                                    Electrical Instrument
			                                    <hr>
			                                </p>
			                                <p class="card-text" style="font-family: Jost, sans-serif;">
			                                    <b style="font-family: Jost, sans-serif;">Btech 1,2,3 Year</b> <br>
			                                    Electrical Students Can Register Here
			                                </p>


			                            </div>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
			        <!-- who can participate end -->
			        <!-- internship test highlight start -->
			        <div class="row">
			            <div class="col-sm-10 mx-auto myimg1 mt-5">

			                <div class="row">
			                    <div class="col-sm-8" style="padding-left: 140px;">
			                        <div class="row">
			                            <div class="col-sm-6 ">
			                                <p
			                                    style="color: #ef662f; font-size: 28px; font-family: Jost, sans-serif ; font-weight: 600;">
			                                    Internship Test Highlights
			                                </p>
			                                <hr>
			                                <img src="images/time.png" alt="" height="50">
			                                <span style="font-family: Jost, sans-serif; font-weight: 900; font-size: 20px;">
			                                    Duration:</span> <span style="font-size: 20px;">60 Minutes</span><br> <br>
			                                <img src="images/skills.png" alt="" height="40">
			                                <span style="font-family: Jost, sans-serif; font-weight: 900; font-size: 20px;">
			                                    Eligibility :</span> <span style="font-size: 20px;">B-Tech Students</span>

			                                <br> <br>
			                                <img src="images/language.png" alt="" height="40">
			                                <span style="font-family: Jost, sans-serif; font-weight: 900; font-size: 20px;"> Medium
			                                    :</span> <span style="font-size: 20px;">English</span> <br> <br>
			                                <img src="images/mode.png" alt="" height="40">
			                                <span style="font-family: Jost, sans-serif; font-weight: 900; font-size: 20px;"> Mode
			                                    :</span> <span style="font-size: 20px;">Online</span> <br> <br>
			                                <img src="images/platfom.png" alt="" height="40">
			                                <span style="font-family: Jost, sans-serif; font-weight: 900; font-size: 20px;">
			                                    Question Type :</span> <span style="font-size: 20px;">MCQ</span> <br> <br>

			                            </div>
			                            <div class="col-sm-6 mx-auto ram">
			                                <img src="images/quiz.jpg" class="" alt="">
			                            </div>
			                        </div>
			                    </div>
			                </div>


			            </div>
			        </div>
			        <!-- internship test highlight end -->

			        <!-- internship features start -->
			        <div class="row mt-4">
			            <div class="col-sm-10 mx-auto">
			                <div class="row">
			                    <div class="col-sm-3 mx-auto">
			                        <img src="images/work.png" alt="" height="400">
			                    </div>
			                    <div class="col-sm-7 text-start mt-5">
			                        <p style="color: #ef662f; font-size: 28px; font-family: Jost, sans-serif ; font-weight: 600;">
			                            Our Internship Features
			                        </p>
			                        <hr>
			                        <p>
			                            1. Technology Lectures by Softpro Experts having minimum 10 Year of Experience. <br>
			                            2 .Bonus Lectures by Experts from Industry like Google, IBM, Indiabulls, HCL, TCS, LMRC,
			                            Ansal, DLF, Pepsi Co, Oracle, Paypal, Mitsubishi, Amazon, Apple and more. <br>
			                            3 .30 Days Live Instructor Led Classroom / online Sessions daily, with 15 Days Extra grace
			                            time to access the account for recovery & practice. <br>
			                            4 .E-Notes in form of E-Books, Presentations, Videos designed by Industry Experts with
			                            Self-Assessment Tools and daily evaluation. Class Recordings of each Live Class. <br>
			                            5 .Daily Tasks & Assignments for more practice. <br>
			                            6 .Industry Endorsed Project to be developed by all Interns. <br>
			                            7 .Assistance in Placement & Certificate of Internship by “Softpro India Computer
			                            Technologies (P) Limited”
			                        </p>
			                    </div>
			                </div>
			            </div>
			        </div>
			        <!-- internship features end -->
			        <!-- internship session start -->
			        <div class="row mt-5">
			            <div class="col-sm-10 mx-auto">

			                <p style="color: #ef662f; font-size: 20px; font-family: Jost, sans-serif ; font-weight: 600;">
			                    Internship Session
			                </p>
			                <hr>
			                <div class="row">
			                    <div class="col-sm-12">
			                        <span style="font-family: Jost, sans-serif;font-weight: 600;"> a.) Online / Offline
			                            Sessions:</span>
			                        <p>
			                            The internship will commence with intensive training sessions covering a wide array of
			                            topics including but
			                            not limited to: i. Programming languages such as Java, Python, PHP, C# etc. ii. Web
			                            development frameworks like
			                            Django, Spring, Laravel, AngularJS, React, etc. iii. Database management systems and data
			                            analytics tools. iv.
			                            Emerging technologies such as Artificial Intelligence, Machine Learning, Internet of Things,
			                            etc. v. Technologies
			                            like IoT, PLC SCADA, Embedded System, AutoCAD, Solidwork & STAAD.PRO
			                        </p>
			                        <span style="font-family: Jost, sans-serif;font-weight: 600;"> b.) Online / Project
			                            Works:</span>
			                        <p>
			                            Following the training period, interns will be assigned to real-world projects under the
			                            guidance and mentorship of
			                            experienced professionals from Softpro India. This hands-on experience will enable students
			                            to apply theoretical concepts
			                            in practical scenarios, thereby honing their problem solving skills and enhancing their
			                            technical proficiency.
			                        </p>
			                        <span style="font-family: Jost, sans-serif;font-weight: 600;"> c.)Evaluation and
			                            Certification:</span>
			                        <p>
			                            At the conclusion of the internship, students will undergo an assessment to evaluate their
			                            performance and proficiency
			                            gained during the program. Upon successful completion, participants will receive
			                            certificates acknowledging their
			                            accomplishments during the internship.
			                        </p>
			                        <span style="font-family: Jost, sans-serif;font-weight: 600;"> d.)Placement Opportunity:</span>
			                        <p>
			                            Students who will do Internship from Softpro will also be offered Placement Opportunity in
			                            their final year.
			                            The Free Summer Internship Program by Softpro India presents a unique opportunity for your
			                            students to augment their
			                            academic learning with practical industry experience, thereby enhancing their employability
			                            and fostering their professional
			                            growth. We believe that this collaboration will be mutually beneficial for your esteemed
			                            institutions and Softpro India,
			                            and will pave the way for future partnerships aimed at nurturing talent and driving
			                            innovation in the field of technology.
			                            We earnestly request your support and cooperation in facilitating the implementation of this
			                            Free Internship program.
			                        </p>


			                    </div>
			                </div>



			            </div>
			        </div>
			        <!-- internship session end -->
			        <!-- technology offered start -->
			        <div class="row mt-4 m-0 p-0">
			            <div class="col-sm-10 mx-auto text-center">
			                <p style="color: #ef662f; font-size: 35px; font-family: Jost, sans-serif ; font-weight: 700;">
			                    Technologies Offered
			                </p>
			                <hr>
			                <p style="text-align: center;">
			                    The internship will begin with thorough training sessions covering essential topics relevant to the
			                    role. Participants will gain a comprehensive understanding of technical skills, industry practices,
			                    and soft skills. Interactive workshops and practical exercises will prepare them to excel in their
			                    roles and contribute effectively to the organization.
			                </p>
			                <div class="row m-0 p-0">

			                    <div class="col-sm-3 mx-5">
			                        <div class="card h-100 shadow mycard1">
			                            <img src="images/datascience.png" class="card-img-top" alt="...">

			                        </div>
			                    </div>
			                    <div class="col-sm-3 mx-5">
			                        <div class="card h-100 mycard1">
			                            <img src="images/ml.png" class="card-img-top" alt="...">

			                        </div>
			                    </div>
			                    <div class="col-sm-3 mx-5">
			                        <div class="card h-100 mycard1">
			                            <img src="images/django.png" class="card-img-top" alt="...">

			                        </div>
			                    </div>

			                </div>



			            </div>
			        </div>
			        <div class="row mt-4 m-0 p-0">
			            <div class="col-sm-10 mx-auto text-center">

			                <div class="row m-0 p-0">

			                    <div class="col-sm-3 mx-5">
			                        <div class="card h-100 shadow mycard1">
			                            <img src="images/java.png" class="card-img-top" alt="...">

			                        </div>
			                    </div>
			                    <div class="col-sm-3 mx-5">
			                        <div class="card h-100 mycard1">
			                            <img src="images/net.png" class="card-img-top" alt="...">

			                        </div>
			                    </div>
			                    <div class="col-sm-3 mx-5">
			                        <div class="card h-100 mycard1">
			                            <img src="images/php.png" class="card-img-top" alt="...">

			                        </div>
			                    </div>

			                </div>



			            </div>
			        </div>
			        <div class="row mt-4 m-0 p-0">
			            <div class="col-sm-10 mx-auto">

			                <div class="row m-0 p-0">

			                    <div class="col-sm-3 mx-5">
			                        <div class="card h-100 shadow mycard1">
			                            <img src="images/iot.png" class="card-img-top" alt="...">

			                        </div>
			                    </div>
			                    <div class="col-sm-3 mx-5">
			                        <div class="card h-100 mycard1">
			                            <img src="images/embeded.png" class="card-img-top" alt="...">

			                        </div>
			                    </div>
			                    <div class="col-sm-3 mx-5">
			                        <div class="card h-100 mycard1">
			                            <img src="images/pcb.png" class="card-img-top" alt="...">

			                        </div>
			                    </div>

			                </div>



			            </div>
			            <div class="row mt-4 m-0 p-0">
			                <div class="col-sm-10 mx-auto">

			                    <div class="row m-0 p-0">

			                        <div class="col-sm-3 mx-5">
			                            <div class="card shadow mycard1" style="height: 100px;">
			                                <img src="images/pcl.png" class="card-img-top" alt="...">

			                            </div>
			                        </div>
			                        <div class="col-sm-3 mx-5">
			                            <div class="card mycard1" style="height: 100px;">
			                                <img src="images/auto1.png" class="card-img-top" alt="...">

			                            </div>
			                        </div>
			                        <div class="col-sm-3 mx-5">
			                            <div class="card mycard1" style="height: 100px;">
			                                <img src="images/auto2.png" class="card-img-top" alt="...">

			                            </div>
			                        </div>

			                    </div>



			                </div>
			            </div>
			        </div>



			        <!-- technology offered end-->


					<!-- location start -->
					<div class="row p-0 m-0 mt-5">
					    <div class="col-sm-10 mx-auto text-center">
					        <span style="color: #ef662f; font-size: 35px; font-family: Jost, sans-serif; font-weight: 600;">
					            Traning Location
					        </span>
					        <hr>
					    </div>
					</div>
					<div class="row">
					    <div class="col-sm-10 mx-auto p-0 m-0">
					        <div class="row m-0 p-0">

					            <div class="col-sm-3 mx-5 " >
					                <div class="card shadow mycard1" style="padding: 15px;">
					                    <img src="images/house1.jpg" class="card-img-top" alt="..." style="height: 200px;">
					                    <p>
					                        style="text-align: center; color: #ef662f; font-size: 20px; font-family: Jost, sans-serif; font-weight: 600; padding: ;">
					                        Softpro House
					                    </p>  <hr>
					                    <p style="text-align: center;">
					                        3/213, Sector J, Jankipuram, Kursi Rd <br>
					                        Near Gudamba Thana, Lucknow
					                    </p>

					                </div>
					            </div>
					            <div class="col-sm-3 mx-5">
					                <div class="card  shadow shadow-lg mycard1" style="padding: 15px;">
					                    <img src="images/acdemy.jpg" class="card-img-top" alt="..." style="height: 200px;">
					                    <p
					                        style="text-align: center; color: #ef662f; font-size: 20px; font-family: Jost, sans-serif; font-weight: 600;">
					                        Softpro India Full Stack Academy </p> <hr>

					                    <p style="text-align: center;">
					                        Pushpi Tower ,Chinhat Tiraha, Vijayant Khand <br>
					                        Gomti Nagar, Lucknow
					                    </p>
					                </div>
					            </div>
					            <div class="col-sm-3 mx-5">
					                <div class="card  shadow shadow-lg mycard1"  style="padding: 15px;">
					                    <img src="images/its.jpg" class="card-img-top" alt="..." style="height: 200px;">
					                    <p
					                        style="text-align: center; color: #ef662f; font-size: 20px; font-family: Jost, sans-serif; font-weight: 600;">
					                        Softpro Skill Development Center </p> <hr>

					                    <p style="text-align: center;"> 
					                        I.T.S Campus, Knowledge Park III, Pari Chowk, <br> GreaterNOIDA
					                    </p>
					                </div>
					            </div>

					        </div>
					    </div>
					</div>
					<!-- location end -->
					<!-- online training start -->
			        <div class="row mt-5">
			            <div class="col-sm-10 mx-auto text-center">

			                <h2 class="fw-bold mb-1" style="color:#ef662f;">Online Training Mode</h2>
			                <h3>POLYPREP, A Learning Management System By Softpro India</h3>
			                <div class="row shadow-lg mt-3 mb-4 pt-4 pb-4">
			                    <div class="col-sm-6">
			                        <img src="images/upcoming.png" style="height:350px; width:500px" class="border pw12" />
			                    </div>
			                    <div class="col-sm-6 my-auto p-4" style="margin-left:-30px; background-color:darkorange;">
			                        <h4 class="fw-bold">
			                            Online Training Division of Softpro LMS Polyprep
			                        </h4>
			                        <p>Enroll, Learn, Grow !!! Get ready to achieve your learning goals with Softpro by doing Online
			                            Summer Internship at Polyprep, An LMS by Softpro.</p>

			                    </div>
			                </div>
			            </div>
			       

			        <!-- online training end -->
			        
			        
	</section>



</body>

</html>